.show-hide-password {
	position: relative;
	width: 100%;
}

.show-hide-password-input {
	--padding-end: 52px !important;
}

.show-hide-password-button {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	margin: 0;
	--padding-start: 8px;
	--padding-end: 8px;
	--min-height: 34px;
	--height: 34px;
	--width: 34px;
	--border-radius: 999px;
}

.show-hide-password-button::part(native) {
	border-radius: 999px;
}
